
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #000000a1;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    font-size: clamp(20px, 8vw, 90px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

hr {
    width: clamp(50vw, 50vw, 50vw);
}

.descricao {
    font-size: clamp(15px, 4vw, 35px);
    font-style: italic;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #26211f;
}

#botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.redes {
    size: clamp(20px, 5vw, 30px);
    width: 120px;
    height: 40px;
    background-color: #dbc0ad;
    border-style: none;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 20px;
}